body{
	margin: 0px;
	height: auto;
}

#website{
	width: 100%;
	height: 800px;
	background-image: url(photos.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	color: white;
}

#parent1{
	margin-left: 70px;
	padding: 30px;
	border: 20px;
    display: flex;
	justify-content: space-between;	
	align-items: center;
}

#logo{
	font-size: 30px;
}

#Heading{
    width: 30%;
    padding: 20px;
	display: flex;
	justify-content: space-between;
}

#Heading6{
	padding: 20px;
     color: white;
     background-color: blue;
     border-radius: 50px;
     text-align: center;
     display: flex;
     justify-content: center;
}

#logo2{
	width: 1200px;
	margin: 50px;
	border: 10px;
}

#parent2{
	text-align:center;
	font-size: 300%;
	display: flex;
	align-items: top;
}

#self{
	display:flex;
	margin-left:50px
}

#self1{
	margin-right: 10px;
}
#self2{
	color: red;
}

#PAGE{
	width: 600px;
	margin: 100px;
	padding: 150px;
    display: flex;
	justify-content: space-between;	
	align-items: center;
	position: relative;
}

#PageA{
	width: 200px;
	border-radius:1000px;
	background-color: white;
	position: relative;
	top: -50px;
	left: -5px;
}
#Page1{
	margin: 5px;
	font-size: 20px;
	color: black;
	text-align: center;
}
#Page2{
	margin-bottom: 8px;
     font-size: 10px;
     color: blue;
     text-align: center;
}

#PageB{
	width: 200px;
	margin-left: 100px;
	border-radius:1000px;
	background-color: white;
	position: relative;
	bottom: -50px;
	right: -300px;
}
#Page3{
	margin: 5px;
	font-size: 20px;
	color: black;
	text-align: center;

}
#Page4{
	margin-bottom: 8px;
     font-size: 10px;
     color: blue;
     text-align: center;

